
{% extends "base.html" %}
    {% block content %}
        <h2 class="text-center">MTAnchor</h2>
        <h4 id="uid" class="text-center mb-4">User ID: </h4>

        <div class="d-flex justify-content-center" class="load">
            <i class="fa fa-spinner fa-5x align-self-center load"></i>
            <h3 class="load"> Loading... </h3>
        </div>

        <div id="enough-anchors" title="No topic update" class="d-none">
        </div>

        <div class="container" id="topics">
            <div class="row mb-4">
                <div class="col-6">
                    <h4 class="text-left">Language 1</h4>
                    <h6 class="text-left">Intralingual score: {{scores.intra1}}%</h6>
                    <h6 class="text-left">Crosslingual score: {{scores.cross1}}%</h6>

                </div>
                <div class="col-6">
                    <h4 class="text-right">Language 2</h4>
                    <h6 class="text-right">Intralingual score: {{scores.intra2}}%</h6>
                    <h6 class="text-right">Crosslingual score: {{scores.cross2}}%</h6>

                </div>
            </div>
            {% for topic in topics %}

            <div class="row mb-4 topic">
                <i class="fa fa-times fa-large close"></i>
                <div class="col-3 p-3 l1 topic-words">
                    {% for word in topic.words1 %}
                    <span class="btn btn-sm m-1 l1 word">{{word}}</span>
                    {% endfor %}
                </div>

                <div class="col-2 p-3 ml-auto l1 anchors">
                    {% for anchor in topic.anchors1 %}
                    <span class="btn btn-sm m-1 l1 anchor">{{anchor}}<i class="fa fa-times fa-large close"></i></span>
                    {% endfor %}
                </div>

                <div class="col-2 p-3 ml-auto l2 anchors">
                    {% for anchor in topic.anchors2 %}
                    <span class="btn btn-sm m-1 l2 anchor">{{anchor}}<i class="fa fa-times fa-large close"></i></span>
                    {% endfor %}
                </div>

                <div class="col-3 p-3 ml-auto l2 topic-words">
                    {% for word in topic.words2 %}
                    <span class="btn btn-sm m-1 l2 word">{{word}}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}


        </div>


        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <div class="container">
                <div class="col-5 d-inline-block">
                    <button class="btn btn-sm btn-light m-2" id="update">Update</button>
                    <button class="btn btn-sm btn-light m-2" id="add">Add Topic</button>
                    <a href="{{url_for('restart')}}" class="btn btn-sm btn-light m-2" id="restart">Restart</a>
                    <a href="{{url_for('finish')}}" class="btn btn-sm btn-light m-2" id="finish">Finish</a>

                </div>
                <div class="col-3 d-inline-block">
                    <h6 id="translation" class="navbar-text text-white ml-4">
                        Translation:
                    </h6>
                </div>
                <div class="col-2 d-inline-block">
                    <input id="search" class="form-control form-control-sm" type="text" placeholder="Search words">
                </div>

                <div id="new-word" class="col-2 d-inline-block">
                </div>

            </div>

        </nav>



    {% endblock %}
