body {
    overflow-x: hidden !important; 
}

#topics{
    margin-bottom: 300px;
}

.topic-words {
    display: inline-block;
    background-color: AliceBlue;
}

.anchors {
    display: inline-block;
    background-color: Lavender;
}

.word {
    border-color: black;
    font-size: x-small;
    background-color: White;
}

.anchor {
    border-color: black;
    font-size: x-small;
    z-index: 2;
    display: inline-block;
    background-color: White;
}

.close {
    padding-left: 5px;
}

.highlight{
    background-color: #FCF3CF;
}

.ui-autocomplete {
    z-index: 2000 !important
}

